streamlit
pytesseract
Pillow
pdf2image
requests
beautifulsoup4
streamlit
pytesseract
Pillow
pdf2image
requests
beautifulsoup4
streamlit-pdf-viewer
streamlit
requests
beautifulsoup4
python-docx
pdfplumber
pillow
pytesseract
streamlit
requests
beautifulsoup4
pdfplumber
pillow
pytesseract
tesseract-ocr
tesseract-ocr-tam
poppler-utils
streamlit
pytesseract
pillow
pdf2image
opencv-python-headless
beautifulsoup4
requests
python-docx
numpy

python-docx
streamlit
pytesseract
pillow
pdfplumber
requests
beautifulsoup4
python-docx
opencv-python-headless

